# SQL Exercise
Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos "Chinook_Sqlite" (archivo proporcionado junto con los apuntes de SQL). columnas.

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the database
con = sqlite3.connect("data/Chinook_Sqlite.sqlite") 

# Create a cursor
cursor = con.cursor()

## Actividad 2-1 (Atención al cliente)

Trabaja con la tabla Customer.

- Muestra la columna Email.
- Muestra la columna FirstName.
- Muestra las columnas FirstName y LastName.
- Muestra las columnas Address, Phone y Fax.
- Muestra todas las columnas.

**1. Muestra la columna Email.**

In [8]:
query = "SELECT Email FROM Customer"

# Run the query and get the results
cursor.execute(query)
emails = cursor.fetchall()

# Convert the results to a DataFrame of pandas for better visualization.
emails_df = pd.DataFrame(emails, columns=['Email'])

emails_df.head(10)

                      Email
0      luisg@embraer.com.br
1     leonekohler@surfeu.de
2       ftremblay@gmail.com
3     bjorn.hansen@yahoo.no
4  frantisekw@jetbrains.com
5           hholy@gmail.com
6    astrid.gruber@apple.at
7     daan_peeters@apple.be
8     kara.nielsen@jubii.dk
9  eduardo@woodstock.com.br

**2. Muestra la columna FirstName.**

In [9]:
query = "SELECT FirstName FROM Customer"

cursor.execute(query)
first_name = cursor.fetchall()

first_name_df = pd.DataFrame(first_name, columns=["First Name"])
first_name_df.head(10)

  First Name
0       Luís
1     Leonie
2   François
3      Bjørn
4  František
5     Helena
6     Astrid
7       Daan
8       Kara
9    Eduardo

**3. Muestra las columnas FirstName y LastName.**

In [10]:
query = "SELECT FirstName, LastName FROM Customer"

cursor.execute(query)
full_name = cursor.fetchall()

full_name_df = pd.DataFrame(full_name, columns=["First Name", "Last Name"])
full_name_df.head()

  First Name    Last Name
0       Luís    Gonçalves
1     Leonie       Köhler
2   François     Tremblay
3      Bjørn       Hansen
4  František  Wichterlová

**4. Muestra las columnas Address, Phone y Fax.**

In [11]:
query = "SELECT Address, Phone, Fax FROM Customer"

cursor.execute(query)
adress = cursor.fetchall()

address_df = pd.DataFrame(adress, columns=["Address", "Phone", "Fax"])
address_df.head(10)

,Address,Phone,Fax
0,"Av. Brigadeiro Faria Lima, 2170",+55 (12) 3923-5555,+55 (12) 3923-5566
1,Theodor-Heuss-Straße 34,+49 0711 2842222,None
2,1498 rue Bélanger,+1 (514) 721-4711,None
3,Ullevålsveien 14,+47 22 44 22 22,None
4,Klanova 9/506,+420 2 4172 5555,+420 2 4172 5555
5,Rilská 3174/6,+420 2 4177 0449,None
6,"Rotenturmstraße 4, 1010 Innere Stadt",+43 01 5134505,None
7,Grétrystraat 63,+32 02 219 03 03,None
8,Sønder Boulevard 51,+453 3331 9991,None
9,"Rua Dr. Falcão Filho, 155",+55 (11) 3033-5446,+55 (11) 3033-4564

**5. Muestra todas las columnas.**

In [15]:
query = "SELECT * FROM Customer"

cursor.execute(query)
customer = cursor.fetchall()

column_names = [description[0] for description in cursor.description]

customer_df = pd.DataFrame(customer, columns=[column_names])
customer_df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

## Actividad 3-1 (Ordenando a mi manera)
Ordena la tabla de géneros (Genre) por orden alfabético.

Corta los resultados para que solo se muestren los 6 primeros.

Subir Nota:
- Muestra las últimas 2 filas de la tabla.

**1. Ordena la tabla de géneros (Genre) por orden alfabético.**

**2. Corta los resultados para que solo se muestren los 6 primeros.**

**3. Muestra las últimas 2 filas de la tabla.**

## Actividad 3-2 (En busca del peor cliente)
Volvemos a usar la tabla Customer.

* Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es SupportRepid)
* Filtra los resultados anteriores por los que viven en Brasil.
* Muestra a los usuarios que tengan un código postal empezado en 7.
* Muestra a los usuarios que tengan un email de hotmail.
* Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).
* De los resultados anteriores, muestra los que tengan un email de gmail.
* Muestra al usuario que trabaja en Apple (columna Company). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…
* Muestra los usuario que han reportado entre 3 y 4 incidencias.

**1. Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es SupportRepid)**

**2. Filtra los resultados anteriores por los que viven en Brasil.**

**3. Muestra a los usuarios que tengan un código postal empezado en 7.**

**4. Muestra a los usuarios que tengan un email de hotmail.**

**5. Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).**

**6. De los resultados anteriores, muestra los que tengan un email de gmail.**

**7. Muestra al usuario que trabaja en Apple (columna Company). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…**

**8. Muestra los usuario que han reportado entre 3 y 4 incidencias.**